{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 90,
  "tabWidth": 2,
  "bracketSameLine": true,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "./crontab_entries.txt",
      "options": {
        "tabWidth": 4,
        "useTabs": true
      }
    }
  ]
}
